# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# obsidian
.obsidian/workspace.json
.obsidian/themes
.obsidian/plugins
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
